.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: all 300ms linear;
}

.App > h1 {
  margin: 0;
  padding: 1em;
  text-align: center;
  background: #333;
  color: white;
}

section {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

button {
  margin: 1em;
  padding: 1em;
  width: 40%;
  min-width: 300px;
  font-size: 2em;
  background: white;
}

.off i {
  filter: grayscale(100%);
}

i {
  font-style: normal;
}

.App.dark,
.App.dark button {
  background: #222;
  border-color: white;
  color: white;
}
